.booking-container
  width: auto
  padding-top: 28px
  background: var(--background-white)
  border: 1px solid var(--text-grey-100)
  border-radius: 8px
  box-shadow: 0 1px 8px 0 var(--black-80)

  @media screen and (width <= 1040px)
    width: 90%

  @media screen and (width <= 370px)
    width: 95%

.booking-content
  display: flex
  justify-content: space-between

  @media screen and (width <= 810px)
    flex-direction: column
    align-items: center
    padding-bottom: 20px
